
<table>
    <thead>
    <tr>
        <th>Raw variable</th>
        <th>Label</th>
        <th>Raw value</th>
        <th>Formatted value</th>
    </tr>
    </thead>
    <tbody>
    {% for feature_name, feature in additional_features.items() %}
        <tr>
            <td>{{ feature_name }}</td>
            {% if feature.label is not none %}
                <td>{{ feature.label }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ feature.value }}</td>
            <td>{{ feature.formatted_value }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
