
<table>
    <thead>
    <tr>
        <th>Feature name</th>
        <th>Label</th>
        <th># underlying variables</th>
        <th>Raw value</th>
        <th>Formatted value</th>
        <th>Contribution</th>
        <th>Score</th>
    </tr>
    </thead>
    <tbody>
    {% for feature in layer.features %}
        <tr style="background-color: {{ feature.weight|weight_color(layer.weight_range) }}">
            <td>{{ feature.feature }}</td>
            {% if feature.dictionary is not none %}
                <td>{{ feature.dictionary.label }}</td>
            {% else %}
                <td></td>
            {% endif %}
            {% if feature.group is not none %}
                <td>{{ feature.group|length }}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{ feature.value }}</td>
            <td>{{ feature.formatted_value }}</td>
            <td>{{ "%+0.4f"|format(feature.weight) }}</td>
            <td>{{ "%0.1f"|format(feature.score) }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
